body{
    padding: 40px 400px;
}

.container{
    text-align: center;
    padding: 60px;
    margin: 20px;
    border: 2px;
    background-color: pink;
}

#resultado1{
    background-color: rgb(179, 179, 179);
    color: black;
}

hr{
    color: white;
}